<article class="cf">
  <div class="sans-serif fl" style="margin-left: -4em; margin-right: -1em;">
    <div class="mw9 center pt5-ns ph6 ph7-1">
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          iPhone X
        </span>
      </h3>
      <h4 class="f3 fw1 georgia i">How much of your life is it worth?</h4>
      <h6 class="f1 f1-m measure-narrow lh-title mv0" id="user-start-button">
        <span class="bg-black-90 1h-copy white pa1 tracked-tight hover-bg-black-70">
          start
        </span>
      </h6>
      <form class="pt4 pb4 black-80" id="user-wage-form">
        <div class="measure">
          <label for="wage" class="f6 b db mb2">
            How much money do you make an hour?
          </label>
          <input id="wage-field" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc" action="post" required>
          <small id="name-desc" class="f6 db mb2">
            (we don't store this information or share it with anyone)
          </small>
          <h6 class="f3 f1-m measure-narrow mv0">
            <span class="bg-black-90 white pa1 tracked-tight hover-bg-black-70" id="user-wage-form-submit">
              <input type="submit" value="enter" class="bg-black-90 white pa1 tracked-tight hover-bg-black-70 sans-serif" id="user-wage-form-submit"style="border: none; background: none;">
              </input>
            </span>
          </h6>
        </div>
      </form>
      <div id="final-display">
        <h4 class="f2 f1-m measure-narrow lh-title mv0" id="user-rate">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight" id="append-final-here">
          </span>
          <br>
          <br>
          <h6 class="f3 f1-m measure-narrow mv0">
            <span class="bg-black-90 white pa1 tracked-tight hover-bg-black-70" id="back-button">
            back
          </span>
          </h6>
        </h4>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="fr mw9 center pt4-ns pr6 ph7-1" style="margin-right: -1em;">
    <img src="/assets/iPhone_X.png" alt="iPhone X" class="cf">
  </div>
</article>
