<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <head>
    <title>How Much Of Your Life Is the iPhone X Worth?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div>
      <footer class="tc">
        <p style="position: fixed; margin-top: -.5em; margin-left: 45%; margin-right: 45%; none;">
          <a href="http://www.linkedin.com/in/thekatiemcneil" class="bg-black-90 white pa1 tracked-tight hover-bg-black-70 tc" style="text-decoration: none;">created by katie</a>
        </p>
      </footer>
  </div>
  </body>
</html>
